OPENAILIKE_API_KEY="your_ key"
OPENAILIKE_BASE_URL="api_url"

OPENAILIKE_VLM_API_KEY="your_ key"
OPENAILIKE_VLM_BASE_URL="api_url"

OPENAILIKE_FB_API_KEY="your_key"
OPENAILIKE_FB_BASE_URL="api_url"

ANTHROPIC_VLM_API_KEY="your_key"
ANTHROPIC_VLM_BASE_URL="api_url"
