# 1. 定义底层计算节点端口 (代表服务器上启动的独立 vLLM 实例)
LOCAL_NODE_1_PORT=8024
LOCAL_NODE_2_PORT=8025

# 2. 动态路由映射表 (将具体的模型名指向对应的计算节点)
LOCAL_MODELS_MAP="Qwen3-VL-2B-Thinking=http://localhost:${LOCAL_NODE_1_PORT}/v1,Qwen3.5-9B=http://localhost:${LOCAL_NODE_2_PORT}/v1"

OPENAILIKE_API_KEY="your_ key"
OPENAILIKE_BASE_URL="api_url"

OPENAILIKE_VLM_API_KEY="your_ key"
OPENAILIKE_VLM_BASE_URL="api_url"

ANTHROPIC_VLM_API_KEY="your_key"
ANTHROPIC_VLM_BASE_URL="api_url"
