/*
!config.yaml
!README.md
!.gitignore
!.env.example
!src/
.env
!data/
!scripts/
!Dockerfile
# 之前 src 里的排除规则
src/data_generation/
src/experiment_results/
src/standalone_visual_logs/
src/node_modules/
src/__pycache__/

__pycache__